:root{
    --nav_border_color: rgba(0, 19, 130, 0.638);
    --nav_backg_color: rgb(218, 225, 233);
    --nav_text_color: rgb(81, 0, 0);
    --header_backg-color: rgba(218, 223, 241, 0.686);
    --header_text_color: rgb(93, 35, 3);
    --section_backg_color: rgba(245, 245, 245, 0.912);
    --my_size: 25px;
  
    font-size: 10px;
    background-image: url("leaves.jpg");
    background-repeat:round;
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
  }
  
  #h{
    align-self: center;
    text-align: center;
    width: 100%;
    background-color: var(--header_backg-color);
    font-size: 1rem;
    font-weight: 900;
    color: var(--header_text_color);
  
    opacity: 0;
    animation: popup 2s ease 0s 1 forwards;
  }
  #h h1{
    margin: 1%;
  }
  
  nav{
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
    border: 1px solid var(--nav_border_color);
  
    opacity: 0;
    animation: popup 1s ease 1s 1 forwards;
  }
  
  nav a, nav div:not(.submeniu){
    flex-grow: 1;
    display: block;
    height: var(--my_size);
    line-height: var(--my_size);
    text-align:center;
    border-collapse: collapse;
    border: 1px solid var(--nav_border_color);
    background-color: var(--nav_backg_color);
    color: var(--nav_text_color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: flex-grow 1s, background-color 0.5s ease 0.5s;
  }
  
  div.submeniu{
    display: none;
    margin: 0;
  }
  
  nav > div:hover > div.submeniu{
    display: block;
  }
  nav > div:hover, nav a:hover{
    flex-grow: 1.3;
    background-color:aqua;
  }
  
  #container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    height: auto;
    background-color: var(--section_backg_color);
    z-index: -1;
    border-radius: 3%;
    font-size: 1.3rem;
    margin: 10px;
    padding: 5px;
    padding-bottom: 50px;
  
    opacity: 0;
    animation: popup 1s ease 2s 1 forwards;
  }
  
  #container > :nth-child(1)::before{
    content: "😊";
  }
  
  #container h2{
    background-color: rgb(215, 237, 255);
    border-radius: 20px;
  }
  
  #container h4, #container article{
    margin: 2%;
  }
  
  #container article{
    background-color: blanchedalmond;
    border-radius: 7%;
    padding: 2%;
  }
  
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:darkblue;
  }
  
  @media only screen and (min-width: 900px) and (min-height:700px){
  
    :root{
      --my_size: 50px;
      font-size: 20px;
    }
  
  }
  
  @keyframes popup{
    from {opacity: 0;}
    to {opacity: 1;}
  }
  